<!DOCTYPE html>
<html>
<head>
  <title>LocalMail</title>
  <%= stylesheet_link_tag    "local_mail/application", :media => "all" %>
  <%= javascript_include_tag "local_mail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
